<div class="not-found">
  <img src="img/404.png" alt="" class="not-found-head">
  <pre class="not-found-text">      ┏━(<font color="#EC0101"><b>Message from nyist developers</b></font>)
    ┃
    ┃ <b>WEB</b>: <a href="https://mirror.nyist.edu.cn">CIPS MIRROR WEB</a>
    ┃ <b>错误报告</b>: <a href="https://github.com/NYIST-CIPS/issues/issues/new?assignees=&labels=Service+Issue%2C404&template=2-bug_report.yaml&title=%5Bcips%5D404+at+%2F404.html">点击前往</a>
    ┃ <b>镜像申请</b>: <a href="https://github.com/NYIST-CIPS/issues/issues/new?assignees=&labels=Mirror+Request&template=1-mirror_request.yaml&title=%5B%E9%95%9C%E5%83%8F%E8%AF%B7%E6%B1%82%5D+&title=%5Bcips%5DMirror+Request+for+new+mirror+404.html">点击前往</a>
    ┃
    ┗━(<font color="#999999">Page Not Found</font>)
    
    <font color="#367BF0">┌──(</font><font color="#EC0101"><b>www-data@cips</b></font><font color="#367BF0">)-[</font><b>/srv/mirror.nyist.edu.cn/html</b><font color="#367BF0">]</font>
    <font color="#367BF0">└─</font><font color="#EC0101"><b>$</b></font> <font color="#5EBDAB">curl</font> <font color="#9755B3">-f</font> <span id="insert-url"><script>current_page_url = window.location.href;
      document.write(current_page_url);</script></span>
    curl: (22) The requested URL returned error: 404
  </pre>
</div>


