<div class="widget">
	<ul class="list-unstyled"><li><h4><i class="fa fa-comments"></i><%= __('contact_us') %></h4></li></ul>
        <li><strong>意见反馈</strong> <br> <a href="https://github.com/NYIST-CIPS/issues">https://github.com/NYIST-CIPS/issues</a></li>
        <li><strong>发送邮件</strong> <br> <a class="eib1gieB" href="mailto:cips@nyist.edu.cn">cips@nyist.edu.cn</a></li>
        <!-- <li><strong>在线交流</strong> <br /> <a href="https://web.libera.chat/#tuna"> #tuna at Libera.Chat </a></li> -->
</div>
