<div class="widget">
    <ul class="list-unstyled"><li><h4><i class="fa fa-archive"></i><%= __('downloads') %></h4></li></ul>
    <li><p>常用发行版 iso 和应用工具安装包</p></li>
    <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#isoModal">
        获取下载链接
    </button> -->
</div>