<div class="widget">
    <ul class="list-unstyled"><li><h4><i class="fa fa-paperclip"></i><%= __('friends') %></h4></li></ul>
    <li><a href="https://www.nyist.edu.cn">南阳理工学院</a></li>
    <li><a href="https://xxh.nyist.edu.cn">信息化建设与管理中心</a></li>
    <li><a href="https://mirrors.cernet.edu.cn/list">校园网联合镜像站</a></li>
</div>